{% extends "base.html" %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
<br>
<div class="container">

    <h2>Editar Perfil</h2>
    <form action="{{ url_for('perfil') }}" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
        </div>
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ user.name }}">
        </div>
        <div class="form-group">
            <label for="password">Nova Senha:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Digite uma nova senha se deseja mudar">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    </form>
</div>
<hr>
<br>
<div class="container">
    {% if user.admin == 1 %}
    <h2>Adicionar Setores</h2>
    <form action="{{ url_for('perfil_setores') }}" method="post">
        <div class="form-group">
            <input type="hidden" class="form-control" name="id_time" value="{{ user.id_time }}">
            <input type="hidden" class="form-control" name="time" value="{{ user.time }}">
        </div>
        <div class="form-group">
            <label for="name">Nome do Novo Setor:</label>
            <input type="text" class="form-control" id="novo_setor" name="nome">
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Adicionar Setor</button>
    </form>
    {% endif %}
</div>
{% endblock %}